{% extends "base.twig" %}

{% block title %} Landing Page | PixSalle {% endblock %}

{% block main %}

    <h1>Welcome to PixSalle</h1>
    <div class="text-landing">
        <p> PixSalle is a new platform where students can freely showcase their work and express themselves through photography. </p>
        <p> This web application will allow them to be members, explore photos posted by other photographers and picture editors, view resources that they can use to improve their work and contribute to the knowledge sharing within the community through blogs. </p>
        <p> Be inspired by 500px and let your creativity soar and go wild. </p>
    </div>
    <div class="img-landing">
        <img src="/../assets/imgs/landing.jpg" alt="landing">
    <div>
    
{% endblock %}