{% extends "base.twig" %}

{% block title %} Reset Password | PixSalle {% endblock %}

{% block main %}

    <h1>Reset Password</h1>
    <form data-cy="sign-in" action="{{ formAction }}" method="POST">
        <div class="container">
            <div class="password">
                <input data-cy="sign-up__password" type="password" name="old-password" placeholder="Enter your old password">
            </div>
            <div class="password">
                <input data-cy="sign-up__password" type="password" name="new-password" placeholder="Enter your new password">
            </div>
            <div class="password">
                <input data-cy="sign-up__password" type="password" name="confirm-password" placeholder="Confirm password">
            </div>
            <div class="button">
                <input data-cy="sign-in__btn" type="submit" class="profilepasswordbtn" value="Change password">
            </div>
        </div>
    </form>
    <div class="password">
        {% if formErrors['password'] %}
            <span style="color: red"> {{ formErrors['password'] }} </span>
        {% endif %}
        {% if validated == true %}
            <span style="color: green"> Your password has been changed </span> 
        {% endif %}
    </div>
    
{% endblock %}